<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Declaring the required permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yogdaan"
        tools:targetApi="31">
        <activity
            android:name=".DonationSuccessful"
            android:exported="false" />
        <activity
            android:name=".GroceryDonatedOrg"
            android:exported="false" />
        <activity
            android:name=".FoodDnatedOrg"
            android:exported="false" />
        <activity
            android:name=".BloodDonatedOrg"
            android:exported="false" />
        <activity
            android:name=".BooksDonatedOrg"
            android:exported="false" />
        <activity
            android:name=".CLothesDonatedOrg"
            android:exported="false" />
        <activity
            android:name=".emergency"
            android:exported="false" />
        <activity
            android:name=".donreqlist"
            android:exported="false" />
        <activity
            android:name=".OrganizationDashboard"
            android:exported="false" />
        <activity
            android:name=".HelpDonorActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".UserDetails"
            android:exported="false" />
        <activity
            android:name=".BloodTypeActivity"
            android:exported="false" />

        <activity
            android:name=".MoneyOrgList"
            android:exported="false" />
        <activity
            android:name=".PaymentGateway"
            android:exported="false" />
        <activity
            android:name=".GroceryCharityList"
            android:exported="false" />
        <activity
            android:name=".FoodCharityList"
            android:exported="false" />
        <activity
            android:name=".BloodCharityList"
            android:exported="false" />
        <activity
            android:name=".BloodCategoryList"
            android:exported="false" />
        <activity
            android:name=".ClothingCharityList"
            android:exported="false" />
        <activity
            android:name=".ClothingCategoryList"
            android:exported="false" />
        <activity
            android:name=".FoodCategoryList"
            android:exported="false" />
        <activity
            android:name=".GroceryCategoryList"
            android:exported="false" />
        <activity
            android:name=".OrgProfile"
            android:exported="false" />

        <activity
            android:name=".BooksCategoryList"
            android:exported="false" />
        <activity
            android:name=".CharityList"
            android:exported="false" />
        <activity
            android:name=".Organisationdetails"
            android:exported="false" />
        <activity
            android:name=".Signinactivity"
            android:exported="false" />
        <activity
            android:name=".Homeactivity"
            android:exported="false" />
        <activity
            android:name=".Loginactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />



    </application>

</manifest>